<div class="card">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <form [formGroup]="calculateForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputAltura" class="form-label">Altura (centímetros)</label>
        <input
          autofocus
          class="form-control"
          id="inputAltura"
          formControlName="inputAltura"
          type="number"
        />
      </div>
      <div class="mb-3">
        <label for="inputPeso" class="form-label">Peso (Kg)</label>
        <input
          class="form-control"
          id="inputPeso"
          formControlName="inputPeso"
          type="number"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!calculateForm.valid"
      >
        Calcular
      </button>
      <div class="mb-3">
        <label for="inputPeso" class="form-label">IMC</label>
        <input
          type="text"
          class="form-control"
          id="inputIMC"
          formControlName="inputIMC"
        />
      </div>
      <div class="mb-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">IMC</th>
              <th scope="col">CLASSIFICAÇÃO</th>
              <th scope="col">OBESIDADE(GRAU)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MENOR QUE 18,5</td>
              <td>MAGREZA</td>
              <td>0</td>
            </tr>
            <tr>
              <td>ENTRE 18,5 E 24,9</td>
              <td>NORMAL</td>
              <td>0</td>
            </tr>
            <tr>
              <td>ENTRE 25,0 E 29,9</td>
              <td>SOBREPESO</td>
              <td>I</td>
            </tr>
            <tr>
              <td>ENTRE 30,0 E 39,9</td>
              <td>OBESIDADE</td>
              <td>II</td>
            </tr>
            <tr>
              <td>MAIOR QUE 40,0</td>
              <td>OBESIDADE GRAVE</td>
              <td>III</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
